pandas~=2.2.2
prettytable~=3.10.0
requests~=2.32.3
pyperclip~=1.9.0
python-dotenv~=1.0.1
twilio~=9.2.3
beautifulsoup4~=4.12.3
spotipy~=2.24.0
selenium~=4.23.1
Flask~=2.3.2
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.25
Werkzeug==3.0.0
Flask_Login==0.6.3
Flask-Gravatar==0.5.0